---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thibault/strike-js@master/strike.css" type="text/css" charset="utf-8">
<script src="https://cdn.jsdelivr.net/gh/thibault/strike-js@master/strike.js"></script>
<script>
strike(new Date('2019-12-07'), [
    'Contre la destruction de notre modèle social.',
    'Contre l\'augmentation croissante des inégalités.',
    'Contre la stigmatisation systématique des plus fragiles.',
    'Ce site est en grève.',
    ]);
</script>
